<div>
  <!-- *ngIf -->
  <p *ngIf="condition; else elseBlock">{{condition}}</p>
  <ng-template #elseBlock>
    <p>{{condition}}</p>
  </ng-template>

  <hr>

  <ul>
    <!-- for no angula -->
    <li *ngFor="let item of list; let i = index">
      {{(i+1)}} -- {{item.nome}}
    </li>
  </ul>

  <hr>

  <div>
    <!-- switch case no angula -->
    <div [ngSwitch]="conditionExpression">
      <p *ngSwitchCase="0">José</p>
      <p *ngSwitchCase="1">Paulo</p>
      <p *ngSwitchCase="2">Femea Podi</p>
      <p *ngSwitchCase="3">Icaro</p>
      <div *ngSwitchDefault>Ninguem</div>
    </div>
  </div>

</div>
